/* Color Palette Definition */
:root {
  /* Primary */
  --primary: #3d5a73;
  --primary-light: #5f778c;
  --primary-dark: #2c3e50;
  --primary-contrast: #c6cfd6;
  --white: #ffffff;

  /* Accent */
  --accent: #dd4f39;

  /* Text */
  --text: #1f2f3d;
  --text-light: #c6cfd6;
}
